.ceoMain {
  padding : 50px;
}

.ceoTitle {
  font-size : 25px;
  margin-bottom : 50px;
  border-bottom : 1px solid #dfdfdf;
  color : #555;
  text-align : center;
}

.ceoMaintxt > p {
  margin-top : 0 50px;
  padding : 30px;
  color : #777; 
  font-size : 15px;
  font-weight : 500;
}

.emBlue {
  color : #043285
}
