.ceoMain {
  padding-top : 100px;
}

.ceoImg {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom : 30px;
  border-bottom : 2px solid #043285;
}

.ceoImg > h1 {
  font-size : 25px;
  font-weight : 500;
  color : #555;
  text-align : left;
}


.ceoImg > img {
  width : 100%;
  height : 100%;
}
.ceoTitle {
  font-size : 25px;
  margin-bottom : 50px;
  border-bottom : 1px solid #dfdfdf;
  color : #555;
  text-align : center;
}

.ceoMaintxt > p {
  margin-top : 0 50px;
  padding : 30px;
  color : #777; 
  font-size : 15px;
  font-weight : 400;
}

.emBlue {
  color : #043285
}

@media (max-width : 1080px) {
  .ceoImg > h1 {
    font-size : 15px;
  }

  .ceoMaintxt > p {
    font-size : 12px;
  }
  
  .visionTxt > h2 {
    font-size : 18px;
  }
  
  .benefitList {
    text-align: center;;
  }
  .benefitList > li {
    width : 50%;
  }

  .histLeftTxt > p , .histRightTxt > p {
    font-size : 12px;
  }
  .histLeftTxt > p > span , .histRightTxt > p > span {
    font-size:10px;
  }
  
}
