.ceoMain {
  padding-top : 100px;
}

.ceoImg {
  text-align: center;
  padding-left: 10px;
  padding-bottom : 30px;
  border-bottom : 2px solid #043285;
}

.ceoImg > h1 {
  font-size : 25px;
  font-weight : 500;
  color : #555;
  text-align : left;
}


.ceoImg > img {
  width : 100%;
  height : 100%;
}
.ceoTitle {
  font-size : 25px;
  margin-bottom : 50px;
  border-bottom : 1px solid #dfdfdf;
  color : #555;
  text-align : center;
}

.ceoMaintxt > p {
  margin-top : 0 50px;
  padding : 30px;
  color : #777; 
  font-size : 15px;
  font-weight : 400;
}

.visionTxt {
  text-align : center;
  margin-bottom : 50px;
}

.visionTxt > h2 {
  margin : 10px;
  font-size : 22px;
  font-weight : 500;
  color : #444;
}

.visionImgWrap {
  text-align : center;
  margin-bottom : 100px;
}

.visionImgWrap > img {
  max-width : 80%;
  height : auto;
}


.histMain {
  position : relative;
  height : 1000px;
}

.histCenterLine {
  position : absolute;
  top : 0;
  left : 50%;
  border : 1px solid black;
  height : 900px;
}

.histLeft {
  position : relative;
  width : 50%;
  text-align : right;
}

.histRight {
  position : relative;
  margin-left : 50%;
}

.histLeftImg{
  position : absolute;
  top : 12px;
  right : -12px;
  width : 24px;
  height : 21px;
  background : url(../public/imgs/hist_button.png) no-repeat;
}

.histRightImg{
  position : absolute;
  top : 12px;
  left : -12px;
  width : 24px;
  height : 21px;
  background : url(../public/imgs/hist_button.png) no-repeat;
}

.histRightTxt {
  padding-left :50px;
}

.histLeftTxt {
  padding-right :50px;
}


.histLeftTxt > h2, .histRightTxt > h2 {
  color : #303097
}

.histLeftTxt > p , .histRightTxt > p {
  font-size : 14px;
  font-weight : 400;
  color : #666;
  margin-top : 5px;
  margin-right : 10px;
}
.histLeftTxt > p > span , .histRightTxt > p > span {
  font-size:12px;
  color : #999;
}

.benefitList {
  overflow: hidden;
  margin-bottom : 50px;
}

.benefitList > li{
  float : left;
  width : 33%;
  height : 90px;
  text-align : center;
  margin : 10px 0;
}

.benefitList > li > div {
  border-top : 1px solid #e0e0e0;
  margin : 20px 30px;
  padding-top: 10px;
} 

.benefitList > li > div > h1{
  font-size : 19px;
  font-weight : 500;
  color : #333;
  margin-bottom : 5px;
}

.benefitList > li > div > p{
  font-size : 13px;
  font-weight : 400;
  color : #999;

}

.orgaMain {
  margin : 0 auto;
  padding-bottom : 100px;
  max-width : 720px;
}

.orgaMain > img {
  max-width : 100%;
  height : auto;
}

.emBlue {
  color : #043285
}

@media (max-width : 1080px) {
  .ceoImg > h1 {
    font-size : 15px;
  }

  .ceoMaintxt > p {
    font-size : 12px;
  }
  
  .visionTxt > h2 {
    font-size : 18px;
  }
  
  .benefitList {
    text-align: center;;
  }
  .benefitList > li {
    width : 50%;
  }

  .histLeftTxt > p , .histRightTxt > p {
    font-size : 12px;
  }
  .histLeftTxt > p > span , .histRightTxt > p > span {
    font-size:10px;
  }
  
}