a {
  text-decoration : none;
  color : #555;
}

ul, li {
  list-style : none;
}

* {
  margin : 0;
  padding : 0;
  z-index : 0;
  font-family : 'Noto Sans KR',  sans-serif;
}

.header {
  width : 100%;
}

.inner {
  margin : 0 auto;
  max-width : 1080px;
}


.sub-inner {
  margin : 0 auto;
  max-width : 880px;
}


.header > .lang {
  height : 30px;
  border-bottom : 1px solid #dfdfdf;
}

.lang-list {
  float : right;
}

.lang-list > li{
  float : left;
}

.lang-list > li > a {
  font-size : 12px;
  padding : 0 10px;
}

.lang-list > li:first-child > a{
  border-right : 1px solid gray;
}
.nav {
  height : 60px;
}
.nav-list > ul{
  float : left;
}

.nav-list > ul > li {
  top : 0;
  left : 0;
  width : 145px;
  float : left;
  text-align : center;
  line-height:60px;
  font-weight : 500;
  color : #333;
}
.nav-logo {
  float : left;
  margin-top : 15px;
  margin-right : 125px;
}

.nav-down-wrap {
  position: absolute;
  visibility : hidden;
  top : 90px;
  left : 0;
  height : 0px;
  width : 100%;;
  border-top : 1px solid #dfdfdf;
  z-index : 99;
  background: #fff;
  transition : all 0.5s;
  overflow:hidden;
}

.blind {
  position: absolute;
  top : 90px;
  left : 0;
  width : 100%;
  height : 0;
  background-color: rgba(0,0,0,0);
  z-index : 5;
}

.nav-down-wrap-inner {
  margin-top : 20px;
}

.nav-down-wrap-inner > div:first-child{
  margin-left : 300px;
}
.nav-down-wrap-inner > div{
  float : left;
  width : 145px;
}

.nav-down-wrap-inner > div > ul > li {
  height : 45px;
  text-align : center;
  padding : 0 10px;
  font-size : 15px;
  font-weight: 500;
  color : #666;
}


.banner {
  position : relative;
  height : 460px;
  width : 100%;
  background : url(../public/imgs/main_visual.jpg) no-repeat 50% 50%;
  background-size : cover;
}

.banner-txt {
  position : absolute;
  top : 100px;
  width : 500px;
  height : 230px;
  background : url(../public/imgs/main_txt.png) no-repeat 50% 50%;
  background-size : cover;
}

.sub-banner {
  height : 160px;
  width : 100%;
  background : url(../public/imgs/sub_main_visual.jpg) no-repeat 50% 50%;
  background-size : cover;
}
.sub-banner-txt {
  float : right;
  width : 600px;
  height : 130px;
  background : url(../public/imgs/sub_main_txt.png) no-repeat 50% 50%;
  background-size : cover;
}

.sub-location {
  height: 40px;
  background : #f1f1f1;
  border-bottom : 1px solid #e3e3e3;
}

.sub-location-txt {
  float : right;
  padding-right : 10px;
  line-height : 40px;
  font-size : 12px;
  font-weight : 500;
}

.sub-nav-list {
  padding : 10px;
  text-align : center;
  border-bottom : 1px solid #dfdfdf;

}

.sub-nav-list > div > ul{
}

.sub-nav-list > div > ul > li:first-child {
  border-left : 1px solid #dfdfdf;
}
.sub-nav-list > div > ul > li {
  display : inline-block;
  width : 15%;
  border-right : 1px solid #dfdfdf;
  border-collapse : collapse;
  color : #666
}

.sub-nav-list-on {
  height : 100%;
  position: relative;
}

.sub-nav-list-on > a{
  color : #043285 !important;
}

.sub-nav-list-on::after {
  position : absolute;
  bottom : -10px;
  left : 0;
  width : 100%;
  content :"";
  border-bottom : 3px solid #043285;
}

.sub-nav-title-txt {
  padding-top : 50px;
  text-align: center;
  padding-bottom : 70px;
}
.sub-nav-title-txt > div {
  padding-bottom : 10px;
  border-bottom : 1px solid #dfdfdf;
}
.sub-nav-title-txt > div > h2 {
  font-size : 27px;
  color : #043285;
}

.sub-nav-title-txt > div > h3 {
  font-size : 13px;
  color : #666;

}

.section1 {
  height: 500px;
  background-color : #f3f2ee;
}

.section1-title {
  padding : 20px 0;
  color : #444;
}

.section1-main {
  height : 360px;
}

.section1-main > div{
  float : left;
  width : 25%;
}

.section1-main > div > div{
  margin: 10px;
  height : 140px;
  border : 3px solid #dfdfdf;
  text-align : center;
}

.section1-main > div > div > h2 {
  padding-top : 40px;
  font-size:20px;
  font-weight : 600;
  color : #043285;
}

.section1-main > div > div > p {
  color : #666;
  font-size : 12px;

}

.section1-btn {
  text-align: center;
}

.section1-btn > a {
  padding : 5px 40px;
  background-color : #043285;
  color : #fff;
}

.section2 {
  height: 480px;
}

.section2-main > ul > li{
  float : left;
  width : 33%;
}

.section2-main > ul > li > div{
  position : relative;
  margin : 10px;
  height : 300px;
  background : url(../public/imgs/main_visual.jpg) no-repeat 50% 50%;
  background-size : cover;
}

.section2-main > ul > li > div > div{
  height : 100%;
  background-color : rgba(0,0,0,0.5)
}

.footer {
  background-color : #414143;
  height : 120px;
}

.footer-info {
  padding-top : 50px;
}

.footer-info > p {
  color : #aaa;
  font-size : 12px;
}
