@media (max-width:1080px) {

.header {
}

.header > .lang {
  display : none;
}

.nav-list {
  display : none;
 }

 .nav-right-btn {
  display : block;
 }
 
 .nav-right-menu {
 }

 .sub-nav-list {
   padding : 5px;
 }
 .sub-nav-list > div > ul > li {
   font-size : 12px;
 }

 .banner {
  height : 300px;
 }

.banner-txt {
  width : 250px;
  height : 115px;
  left : 50%;
  margin-left : -125px;
}
.sub-banner {
  height : 80px;
}
.sub-banner-txt {
  width : 300px;
  height : 65px;
}

.section1-main > div > div > h2 {
  font-size : 15px;
}
.section1-main > div > div > p {
  font-size : 10px;
}

}
