.header {
  width : 100%;
  border : 1px solid red;
}

.header > .lang {
  height : 30px;
  border : 1px solid black;
}

.header > .nav {
  height : 60px;
}

.header .inner {
  margin : 0 auto;
  width : 1080px;
}
